    <%# プロフィール画像 %>
    <div class="form-group">
      <div class="form-text">
        プロフィール画像
        <span class="required">必須</span>
      </div>
      </br>
      <div id="previews">
        <!-- 既存の画像のプレビュー -->
        <% if @box.image.attached? %>
          <%= image_tag url_for(@box.image), class: "prof-image", id: "image-preview", data: { imageUrl: url_for(@box.image) } %>
        <% end %>
      <div class="click-upload"></br>
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"box-image" %>
      </div>
    </div>
    </br>
    <%# /プロフィール画像 %>
    </br>
    <!-- プロフ項目 -->
    <div class="form-edit-wrapper">
      <label for="box_name">プレゼントボックスのなまえ<span class="required">必須</span></label>
      <div class="input-birth-wrap">
        <%= f.text_area :box_name, class:"box-text", id:"box-name", placeholder:"（必須 40文字まで)", maxlength:"40" %>
      </div>
    </div>
    
    <div class="form-edit-wrapper">
      <div class='form-text-wrap'>
        <label for="birth_day">お誕生日</label>
      </div>
      <div class="input-birth-wrap">
        <%= raw sprintf(
                    f.date_select(
                      :birth_day,
                      class: 'select-birth',
                      id: "birth-date",
                      use_month_numbers: true,
                      prompt: '--',
                      start_year: 1930,
                      end_year: (Time.now.year - 0),
                      date_separator: '%s'),
                    "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
      </div>
    </div>
    <!--記念日-->
    <div class="form-edit-wrapper">
      <div class='form-text-wrap'>
        <label for="aniversarry_day">記念日</label>
      </div>
      <div class="input-birth-wrap">
        <%= raw sprintf(
                    f.date_select(
                      :anniversary_day,
                      class: 'select-anniversary',
                      id: "anniversary-date",
                      use_month_numbers: true,
                      prompt: '--',
                      start_year: 1930,
                      end_year: (Time.now.year - 0),
                      date_separator: '%s'),
                    "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
      </div>
      <div class="form-edit-wrapper">
        <div class='form-text-wrap'>
          <label for="anniversary_memo">記念日のメモ</label>
        </div>
          <%= f.text_area :anniversary_memo, class: "box-text", id: "occupation", placeholder: "例) おうち記念日（400文字まで)", maxlength: "400" %>
        </div>
    </div>



    
    <div class="form-edit-wrapper">
      <div class='form-text-wrap'>
        <label for="occupation">所属・職業・特徴</label>
      </div>
          <%= f.text_area :occupation, class: "box-text", id: "occupation", placeholder: "例) 会社員　日曜大工（必須 40文字まで)", maxlength: "40" %>
    </div>
    
    <div class="form-edit-wrapper">
      <div class='form-text-wrap'>
        <label for="hobby">趣味・特技</label>
      </div>
          <%= f.text_area :hobbies, class: "box-text", id: "hobbies", placeholder: "例) お昼寝（40文字まで)", maxlength: "40" %>
    </div>
    
    <div class="form-edit-wrapper">
      <div class='form-text-wrap'>
        <label for="likes">好きなもの</label>
      </div>
          <%= f.text_area :likes, class: "box-text", id: "likes", placeholder: "例) 乾燥ささみ" %>
    </div>
    
    <div class="form-edit-wrapper">
      <div class='form-text-wrap'>
        <label for="dislikes">苦手なもの</label>
      </div>
          <%= f.text_area :dislikes, class: "box-text", id: "dislikes", placeholder: "例) 大きな音" %>
    </div>
    
    <!--変更ボタン-->
    <div class="sell-btn-contents">
      <%= f.submit "変更する", class: "sell-btn" %>
      <%= link_to 'もどる', box_path, class: "back-btn" %>
    </div>


