<!--   ヘッダー    -->
  <%= render 'shared/header' %>

  <!--メイン-->
  <div class="main">
    <!--編集と削除ボタン-->
    <div class="prof-top">
      <div class="ed-button">
        <%= link_to edit_box_path(@box.id) do %>
          Preboを編集
        <% end %>
      </div>
      <div class="ed-button">
        <%= link_to "削除する", box_path , data: {turbo_method: :delete}, class:"box-destroy" %>
      </div>
    </div>

    <div class="prof-main"> 
      <!--プロフィール表示-->
      <div class="prof-box">
        <!--アイコン画像表示-->
        <%= image_tag @box.image , class:"prof-image" %>
        <div class="show-prof-wrap">
          <!--ボックス名-->
          <div class="show-box-name">
          <%= @box.box_name %><p class="small-text">さんのプレゼントボックス</p>
          </div>
          <!--プロフ項目-->
          <div class="profile">
          <!--左サイド　　カラム名-->
            <div class="left-prof">
              <ul class="prof-text">
                <li>お誕生日 </li>
                <li>記念日 </li></br>
                <li>所属・職業・特徴</li>
                <li>趣味・特技</li>
                <li>好きなもの</li>
                <li>苦手なもの</li>
              </ul>
            </div>
            <!--右サイド　入力した項目の表示-->
            <div class="right-prof">
              <ul class="prof-text">
                <li id="birth-date" class="birth-age">
                  <% if @box.birth_day.present? %>
                    <%= @box.birth_day.strftime("%Y年 %-m月 %-d日") %>
                  <% else %>
                    未設定です
                  <% end %>
                  <!-- 年齢と月齢の表示 -->
                  <p id="age-and-months" class="age">(年齢を表示する)</p>
                </li>
                <li>
                  <% if @box.anniversary_day.present? %>
                    <%= @box.anniversary_day.strftime("%Y年 %-m月 %-d日") %>
                  <% else %>
                    <span class="unset">未設定です</span>
                  <% end %>
                </li>
                <li>
                  <%= @box.anniversary_memo.presence || "未設定です" %>
                </li>
                <li>
                  <%= @box.occupation.presence || "未設定です" %>
                </li>
                <li>
                  <%= @box.hobbies.presence || "未設定です" %>
                </li>
                <li>
                  <%= @box.likes.presence || "未設定です" %>
                </li>
                <li>
                  <%= @box.dislikes.presence || "未設定です" %>
                </li>
              </ul>

          </div>
        </div>   
      </div>



      </div>

      <!--投稿一覧表示-->

    </div>

  </div>

 
  <!--フッター-->
  <%= render 'shared/footer' %>
